
// Color theme adapted from: https://color.adobe.com/Neutral-Blue-color-theme-22361/
@white: #FCFFF5;
@gray: #EEEEEE;
@tan: #D1DBBD;
@sage: #91AA9D;
@blue: #3E606F;
@navy: #193441;
@red: #8e4141;

body {
	font-family: 'Roboto', sans-serif;
	
	.panel-default {
		.panel-heading {
			background-color: @blue;
			border-color: @blue;
			color: @white;

			h3.panel-title {
				text-transform: uppercase;
			}
		}

		.panel-body {
			background-color: @gray;
		}
	}
}

.page-header {
	border-bottom: none;
	margin-bottom: 0;

	#logo {
		font-size: 25px;
		letter-spacing: 3px;
		font-weight: 500;
		text-transform: uppercase;
		color: @blue;
		
		span {
			letter-spacing: 3px;
			color: @blue;
			font-weight: 300;
		}

		img {
			width: 35px;
			margin: -15px 8px 10px 5px;
		}

		@media only screen and (min-width: 768px) {
			font-size: 36px;

			img {
				width: 60px;
			}
		}
	}
}

#game-board {
	.ms-box {
		box-sizing: border-box;
		width: 11.11%;
		background-color: @sage;
		border: solid 1px @gray;
		color: @white;
		float: left;
		cursor: pointer;
		text-align: center;
		border-radius: 4px;
		display: table;

		-webkit-touch-callout: none; /* iOS Safari */
		-webkit-user-select: none; /* Safari*/
		-khtml-user-select: none; /* Konqueror */
		-moz-user-select: none; /* Firefox */
		-ms-user-select: none; /* Internet Explorer/Edge */
		user-select: none; /* Non-prefixed version, currently supported by Chrome and Opera */

		&:hover {
			background-color: lighten(@sage, 7%)
		}

		&.clear {
			background-color: transparent;
			cursor: default;
		}

		&.number {
			background-color: @blue;
			cursor: default;
		}

		&.explode {
			background-color: @red;
		}

		&.no-touchy {
			cursor: default;
		}

		&.you-win {
			background-color: @blue;
		}

		span {
			display: table-cell;
			vertical-align: middle;
			
			@media only screen and (min-width: 768px) and (max-width: 991px) {
				font-size: 24px;
			}

			@media only screen and (min-width: 1200px) {
				font-size: 24px;
			}
		}
	}
}

.alert {
	display: none;
}

.alert-success {
	color: @white;
	background-color: @sage;
	border-color: darken(@sage, 5%);
}

.alert-danger {
	color: @white;
	background-color: @red;
	border-color: darken(@red, 5%);
}

#timer {
	font-size: 40px;
	margin: 10px 0 15px;
}

#resetGame {
	margin-bottom: 15px;
}

#download {
	margin-bottom: 15px;
}